<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61b7af">  <td>19/12/24 15:48:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@617faa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>19/12/24 15:49:08</td>   <td>34948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testLogin()[pri:0, instance:com.qa.test.LoginPageTest@617faa95]">testLogin</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>19/12/24 15:49:12</td>   <td>39062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@617faa95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
</table>
