<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:10</td>   <td>8928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:20</td>   <td>19191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:30</td>   <td>28953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:37</td>   <td>36868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>19/11/20 15:46:01</td>   <td>-94</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:06</td>   <td>5871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:16</td>   <td>15718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:27</td>   <td>25886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:34</td>   <td>33706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:42</td>   <td>41571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:06</td>   <td>5806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testAccessLogo()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">testAccessLogo</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:15</td>   <td>14186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testForgotPassword()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">testForgotPassword</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:25</td>   <td>24792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testLogin()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">testLogin</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:34</td>   <td>33697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testLoginPageTitle()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">testLoginPageTitle</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/11/20 15:46:42</td>   <td>41525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testWelcomeImage()[pri:0, instance:com.qa.test.LoginPageTest@2038ae61]">testWelcomeImage</td> 
  <td>main@36333492</td>   <td></td> </tr>
</table>
